/* stylelogin.css */

body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #61CBF5;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header1 h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.input-label {
    text-align: left;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 30px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.input-group i {
    position: relative;
    left: -25px;
    top: 33px;
    color: #ccc;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
